<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold text-success" href="{{ url_for('main.index') }}">
      <i class="fas fa-leaf me-1"></i>FoodWise AI
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#publicNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="publicNav">
      <ul class="navbar-nav ms-auto align-items-center gap-2">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}#how-it-works">How It Works</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}#sdg">Our Impact</a></li>
        <li class="nav-item">
          <a class="btn btn-outline-success btn-sm px-3" href="{{ url_for('auth.login') }}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success btn-sm px-3" href="{{ url_for('auth.register') }}">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
